// bower:scss
// endbower

.md-user-avatar {
  border-radius: 50%;
  width: 28px;
  margin-right: 12px;
}

.select.user .md-chips {
  md-autocomplete {
    width: 100%;
    min-width: 360px;
    display: inline-block;
  }
}